body {
	overflow: hidden;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#startbutton {
	width: 3em;
	height: 1em;
	border: 1px solid black;
	position: absolute;
	bottom: 0;
	left: 0;
	
	background-color: white;
	color: black;
	
	-webkit-border-top-right-radius: 100px;
	-webkit-border-bottom-right-radius: 100px;
	-moz-border-radius-topright: 100px;
	-moz-border-radius-bottomright: 100px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}

#menu {
	display: none;
	width: 100%;
	border: 1px solid black;
	width: 7em;
	min-height: 15em;
	
	position: absolute;
	bottom: 1.1em;
	left: 0;
	margin: 0;
	
	list-style: none;
	padding: 0;
	background-color: #dedede;
}

#menu li {
	border-bottom: 1px solid black;
	background-color: #c4c4c4;
}

#taskbar {
	position: absolute;
	width: 100%;
	margin: 0;
	margin-left: 2em;
	z-index: -1;
	height: 1.1em;
	background-color: #dedede;
	bottom: 0;
}

#taskbar a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid black;
	width: 5em;
	text-align: center;
	background-color: #c4c4c4;
	margin-right: .3em;
	float: left;
}

.window {
	height: 20em;
	width: 25em;
	border: 1px solid black;
	
	min-width: 15em;
	min-height: 10em;
	
	background-color: white;
}

.window .titlebar {
	background-color: gray;
	width: 100%;
	height: 1em;
}

.titlebar .button {
	border: 1px solid black;
	color: white;
	position: absolute;
	
	height: .5em;
	width: .5em;
	line-height: .4em;
	
	top: .2em;
}
.titlebar .close {
	right: .5em;
	background-color: red;
}
.titlebar .close:before {
	content: "x";
}

.titlebar .minimize {
	right: 1.5em;
	background-color: red;
}
.titlebar .minimize:before {
	content: "-";
}

.titlebar .maximize {
	right: 2.5em;
	line-height: .5em;
	background-color: red;
}
.titlebar .maximize:before {
	content: "\25aa";
}

.browser .urlbar {
	position: absolute;
	top: 1em;
	width: 100%;
}

.chat { 
	width: 15em;
}

.friendslist {
	margin: 0;
	padding: 0;
}
.chat .friend {
	list-style: none;
	border: 1px solid black;
	border-left: none;
	border-right: none;
	height: 2em;
	width: 100%;
}
.chat .friend span {
	float: left;
}

.chat img.profile {
	width: 2em;
	height: 2em;
	float: left;
}