body {
	overflow: hidden;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	font-family: sans-serif;
}

#startbutton {
	width: 3em;
	height: 1em;
	border: 1px solid black;
	position: absolute;
	bottom: 0;
	left: 0;
	
	background-color: white;
	color: black;
	
	z-index: 201;
	
	-webkit-border-top-right-radius: 100px;
	-webkit-border-bottom-right-radius: 100px;
	-moz-border-radius-topright: 100px;
	-moz-border-radius-bottomright: 100px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}

#menu {
	display: none;
	width: 100%;
	border: 1px solid black;
	width: 7em;
	min-height: 15em;
	
	position: absolute;
	bottom: 1.1em;
	left: 0;
	margin: 0;
	
	list-style: none;
	padding: 0;
	background-color: #dedede;
	z-index: 201;
}

#menu li {
	border-bottom: 1px solid black;
	background-color: #c4c4c4;
}

#taskbar {
	position: absolute;
	width: 100%;
	margin: 0;
	margin-left: 2em;
	height: 1.1em;
	background-color: #dedede;
	bottom: 0;
	
	z-index: 200;
}

#taskbar a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid black;
	min-width: 5em;
	text-align: center;
	background-color: #c4c4c4;
	margin-right: .3em;
	float: left;
}

.window {
	height: 20em;
	width: 25em;
	border: 1px solid black;
	
	min-width: 15em;
	min-height: 10em;
	
	background-color: white;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	float: left;
}


.window .titlebar {
	/*background-color: #e8e8e8;*/
	background: rgb(246,248,249); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
	-webkit-border-top-left-radius: 50px;
	-webkit-border-top-right-radius: 50px;
	-moz-border-radius-topleft: 50px;
	-moz-border-radius-topright: 50px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	width: calc(100% - 1em);
	height: 1em;
	padding-left: 1em;
}

.ui-draggable-dragging {
	z-index: 101 !important;
}

.titlebar .button {
	border: 1px solid black;
	color: white;
	position: absolute;
	
	height: .5em;
	width: .5em;
	line-height: .4em;
	
	top: .2em;
}
.titlebar .close {
	right: .5em;
	background-color: red;
}
.titlebar .close:before {
	content: "x";
}

.titlebar .minimize {
	right: 1.5em;
	background-color: red;
}
.titlebar .minimize:before {
	content: "-";
}

.titlebar .maximize {
	right: 2.5em;
	line-height: .5em;
	background-color: red;
}
.titlebar .maximize:before {
	content: "\25aa";
}

.browser .urlbar {
	position: absolute;
	top: 1em;
	right: 0;
	width: calc(100% - 1.3em);
}

.browser .backButton {
	position: absolute;
	top: 1em;
	left: 0;
	color: black;
	width: 1em;
}

.window.friends { 
	width: 15em;
}

.friendslist {
	margin: 0;
	padding: 0;
}
.friend {
	list-style: none;
	border: 1px solid black;
	border-left: none;
	border-right: none;
	height: 2em;
	width: 100%;
}
.friend span {
	float: left;
}

.friend.offline:after {
    content: ' \25CF';
    font-size: 2em;
	position: absolute;
	right: 0;
	color: grey;
}
.friend.online:after {
    content: ' \25CF';
    font-size: 2em;
	position: absolute;
	right: 0;
	color: green;
}

img.profile {
	width: 2em;
	height: 2em;
	float: left;
}

.chatlog {
	border: 1px solid black;
	width: calc(100% - 1em);
	margin: .5em;
	bottom: 4em;
	top: 3em;
	position: absolute;
	overflow: auto;
}
.typing {
	position: absolute;
	left: .5em;
	bottom: 3em;
}

.sendMessage {
	bottom: 0;
	position: absolute;
	right: 0;
	margin: .5em;
	width: calc(20% - 1.5em);
	height: 3em;
}

.fakeinput { 
	bottom: 0;
	position: absolute;
	margin: .5em;
	height: 3em;
	right: 5em;
	left: 0;
	width: 80%;
	border: 1px solid black;
	color: black;
	background-color: white;
}
.choice {
	color: forestgreen;
}