body {
	
}

#startbutton {
	width: 3em;
	height: 1em;
	border: 1px solid black;
	position: absolute;
	bottom: 0;
	left: 0;
	
	-webkit-border-top-right-radius: 100px;
	-webkit-border-bottom-right-radius: 100px;
	-moz-border-radius-topright: 100px;
	-moz-border-radius-bottomright: 100px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}

#menu {
	display: none;
	width: 100%;
	border: 1px solid black;
	width: 7em;
	min-height: 15em;
	
	position: absolute;
	bottom: 1.1em;
	left: 0;
	margin: 0;
	
	list-style: none;
	padding: 0;
}

#menu li {
	border-bottom: 1px solid black;
}